.header {
    &__menu {
        @include center-element;
        height: 106px;
        @media (max-width: $tablet) {
            height: 83px;   
        }
    }

    &__image {
        position: relative;
        padding-bottom: 47%;
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    &__list {
        
        @include center-element;
        gap: 68px;
        @media (max-width: 992px) {
            gap: 34px;
        }
        @media (max-width: $tablet) {
            
        }
    }

    &__item {
        a {
        font-size: 11px;
        line-height: 22 / 11 * 100%;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        &:hover {
            color: #57A4A4;
            transition: all 0.5s ease 0s;
        }
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        width: 44px;
        height: 37px;
        position: relative;
        z-index: 5;
        background-color: #000;
    }
    span,
    ::before,
    ::after {
        content: "";
        right: 0;
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #fff;
    }
    ::before {
        bottom: 4px;
    }
    ::after {
        top: 4px;
    }
     span {
        top: 50%;
    }
}
