.header {
    margin-bottom: 69px;
    @media (max-width: $pc) {
        margin-bottom: 59px;
    }
    @media (max-width: $tablet) {
        margin-bottom: 42px;
    }
    &__container {
        @media (max-width: $pc) {
            max-width: $tablet;
        }
    }
    &__menu {
        @include center-element;
        height: 106px;
        @media (max-width: $tablet) {
            height: 83px;
            justify-content: flex-end;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 47%;
    }
    &__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    &__list {
        @include center-element;
        column-gap: 68px;
        @media (max-width: $pc) {
            column-gap: 34px;
        }
        @media (max-width: $tablet) {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 60px;
            right: 10px;
            background-color: #F5F5F5;
            width: 182px;
            height: 208px;
            z-index: 10;
            padding-top: 5px;
            &.active {
                display: flex;
            }
        }
    }

    &__item {
        @media (max-width: $tablet) {
            width: 100%;
            height: 100%;
            &:active {
                background-color: #E5E5E5;
            }
        }
        a {
        font-size: 11px;
        line-height: 22 / 11 * 100%;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        @media (max-width: $tablet) {
            padding-left: 13px;
            display: block;
            height: 100%;
            width: 100%;
        }
        &:hover {
            color: #57A4A4;
            transition: all 0.5s ease 0s;
        }
        }
    }
}
// burger
.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        z-index: 5;
        display: block;
        position: relative;
        top: 0;
        width: 44px;
        height: 37px;
        cursor: pointer;
        background-color: #000;
        &::after,
        &::before {
            content: "";
            width: 17px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 13px;
            transition: all 0.5s ease 0s;
        }
        &::after {
            top: 12px;
        }
        &::before {
            bottom: 12px;
        }
        span {
            width: 17px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 13px;
            transition: all 1s ease 0s;
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
        &.active {
            span {
                transform: scale(0);
            }
            &::after {
                top: 17px;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &::before {
                bottom: 16px;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }
}